.two-column-container-user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #f5f5f5;
    padding: 2vh;
    border-radius: 4px;
}

.column-user {
    width: 48%;
}

.column-user label {
    font-size: 1.4vh;
    font-weight: 600;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2vh;
}

.buttons-container button {
    background-color: #f5f5f5;
    padding: 1vh 2vh;
    border: none;
    border-radius: 4px;
    color: #000000;
    width: 48%;
    cursor: pointer;
}

.buttons-container button:hover {
    background-color: #e5e5e5;
}