.clinical-trials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 2.15vh;
    font-family: 'Arial', sans-serif;
}

.textImportantContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #91C2E3;
    height: 15vh;
    width: 70%;
    margin-bottom: 2vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textImportantContainer h1 {
    margin-bottom: 1vh;
    font-size: 3vh;
    color: #fff;
}

.textImportantContainer h2 {
    font-size: 2vh;
    color: #fff;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    gap: 2.15vh;
}

.filters-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    background: #f8f9fa;
    padding: 2.15vh;
    border: 1px solid #dee2e6;
    border-radius: 1.07vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.search-container {
    margin-bottom: 2.15vh;
}

.search-container h1 {
    font-size: 3vh;
    color: #000;
    margin: 0;
}

.search-container h2 {
    font-size: 2vh;
    color: #000;
    margin: 0.53vh 0 1.61vh;
}

.clinical-trials-results {
    background-color: #f5f5f5;
    padding: 2.15vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.clinical-trials-results h1 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 2.15vh;
}

.results-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.07vh;
    padding: 1.07vh;
    background-color: #e9ecef;
    border-bottom: 2px solid #dee2e6;
    font-weight: bold;
    color: #495057;
    text-align: center;
    border-radius: 5px;
}

.results-header span {
    padding: 0.53vh 1.07vh;
    background-color: #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.07vh;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.61vh;
    margin-top: 1.07vh;
}

.result p {
    margin: 0;
    padding: 0.53vh 1.07vh;
    line-height: 1.5;
    text-align: center;
    width: auto;
}

.result p:first-child {
    font-weight: bold;
    color: #007bff;
}

.provincia,
.condicion-enfermedad {
    margin-bottom: 2.15vh;
}

.provincia label,
.condicion-enfermedad label {
    display: block;
    margin-bottom: 0.53vh;
    font-size: 1.7vh;
    color: #333;
}

input[type="radio"] {
    margin-right: 0.5vh;
}

.provincia select,
.condicion-enfermedad select {
    width: 100%;
    padding: 0.86vh 1.07vh;
    font-size: 1.7vh;
    border: 2px solid #00BFFF;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.provincia select:focus,
.condicion-enfermedad select:focus {
    outline: none;
    border-color: #007BFF;
}

.provincia select,
.condicion-enfermedad select {
    background-repeat: no-repeat;
    background-position: right 1.07vh top 50%;
    background-size: 1.29vh;
    padding-right: 3.23vh;
}

.buscar {
    text-align: center;
}

.buscar button {
    padding: 1.07vh 2.15vh;
    font-size: 1.7vh;
    color: #fff;
    background-color: #91C2E3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.buscar button:hover {
    background-color: #57a1ef;
}

.buscar button:active {
    transform: scale(0.98);
}