.footer {
    background-color: #91C2E3;
    color: white;
    text-align: center;
    padding: 2.15vh 0;
    position: fixed;
    bottom: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.terms-block{
    display: flex;
    justify-content:space-around;
    margin-left: 3.8vh;
}

.terms-text{
    color: white;
    font-size: 1.6vh;
    margin-right: 1.2vh;
    text-decoration: none;
}

.copyright-block{
    display: flex;
    color: white;
    font-size: 1.6vh;
    margin-right: 25vh;
}

.icons-block{
    display: flex;
    justify-content:space-around;
    width: 100px;
    margin-right: 3.7vh;
}

.icon {
    color: white;
    font-size: 2.5vh;
}

