.study-details {
    display: block;
    width: 100vh;
    height: 80vh;
    margin: 0 auto;
    padding: 2.15vh;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.study-details h1 {
    text-align: center;
    color: #333;
    margin-bottom: 2.15vh;
}

.back-button {
    display: block;
    margin-bottom: 2.15vh;
    color: #0056b3;
    background: none;
    border: none;
    cursor: pointer;
}

.summary, .design-eligibility {
    margin-bottom: 2.15vh;
}

.summary table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2.15vh;
}

.summary th, .summary td {
    border: 1px solid #ddd;
    padding: 0.86vh;
    text-align: center;
}

.design-eligibility {
    display: flex;
    justify-content: space-between;
}

.design, .eligibility {
    width: 48%;
}

.design h2, .eligibility h2 {
    border-bottom: 2px solid #4fa1d7;
    padding-bottom: 0.53vh;
    margin-bottom: 1.07vh;
}

.register-button.postulated {
    background-color: #bdc3c7;
}

.register-button.postulated:hover {
    background-color: #7f8c8d;
}

.register-button {
    display: block;
    width: 100%;
    padding: 1.07vh 0;
    background-color: #4fa1d7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); 
}

.more-info-button {
    display: block;
    width: 100%;
    padding: 1.1vh 0;
    background-color: #ecf0f1;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.more-info-button:hover {
    background-color: #bdc3c7;
    transform: scale(1.05); 
}